* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navigasi{
    background-color: #9c3737;
    width: 100%;
    color: white;
    display: inline-block;
    padding-bottom: 25px;
}

.logo img{
    float: left;
    padding-left: 50px;
    padding-top: 23px;
    width: 30px;
}

.logo:hover {
    color: yellow;
}

.menu {
    padding-left: 40vw;
    padding-top: 30px;
    text-align: end;
}

.menu ul li {
    list-style: none;
    display: inline-block;
    margin-right: 50px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
}

.beranda {
    background-color: antiquewhite;
}

table {
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    font-size: 20px;
}

tr, th, td {
    /* border: 1px solid; */
}

.kami {
    /* height: 90vh; */
    font-size: 30px;
    text-align: center;
    font-family: 'comic sans ms';
    padding-top: 20px;
    background-color: beige;
    color: #9c3737;
}

.pengurus-pelkat-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.pengurus-pelkat-card img {
    border-radius: 20px;
    width: 230px;
    height: 230px;
}

.pengurus-pelkat-card p {
    text-align: center;
    font-size: 25px;
    font-family: 'comic sans ms';
    color: #9c3737;
}

.kakak-layan-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.kakak-layan-card img {
    border-radius: 20px;
    width: 230px;
    height: 230px;
}

.kakak-layan-card p {
    text-align: center;
    font-size: 25px;
    font-family: 'comic sans ms';
    color: #9c3737;
}